# Variables de Entorno para Pizarra Táctica Digital

# Django Backend
# Asegúrate que esta SECRET_KEY sea diferente y más compleja en producción
SECRET_KEY='django-insecure-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
DEBUG=1 # 1 para desarrollo, 0 para producción
ALLOWED_HOSTS='localhost,127.0.0.1,backend' # Añadir 'backend' para comunicación interna de Docker

# Base de Datos PostgreSQL (usadas por el servicio 'db' y 'backend')
POSTGRES_DB=pizarra_tactica_db
POSTGRES_USER=pizarra_user
POSTGRES_PASSWORD=pizarra_pass
DB_HOST=db # Nombre del servicio de la base de datos en docker-compose
DB_PORT=5432

# Frontend (React)
# No se necesitan variables de entorno en tiempo de ejecución para el frontend servido por Nginx en este setup básico,
# ya que la API se proxy pasará a través de Nginx.
# Si se necesitara configurar REACT_APP_API_URL en tiempo de build, se haría en el Dockerfile del frontend.
# Por ejemplo: ENV REACT_APP_API_URL=/api
# O pasar ARGs al docker build.
